@charset "UTF-8";
/* line 5, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Develop_Home/FrontTools/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*全局设置*/
/* line 14, ../sass/master.scss */
body {
  font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
  overflow-x: hidden;
}

/* line 15, ../sass/master.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 16, ../sass/master.scss */
a:hover {
  color: #000;
  text-decoration: none;
}

/* line 17, ../sass/master.scss */
input {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px;
  border-radius: 4px !important;
}

/*全局设置结束*/
/* line 20, ../sass/master.scss */
.navbar-login {
  background: #FFF none repeat scroll 0% 0%;
  height: 70px;
  border-color: #E7E7E7;
}

/* line 25, ../sass/master.scss */
.navbar-brand-login {
  height: 70px;
  padding: 23px 100px 23px 100px;
  color: #999;
  font-weight: 900px;
  text-shadow: 0px 1px 1px #999;
}

/* line 32, ../sass/master.scss */
.login-container {
  background: #fff url(../images/login.jpg) no-repeat center;
}

/* line 35, ../sass/master.scss */
#login-wraper {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
  text-align: center;
}
/* line 48, ../sass/master.scss */
#login-wraper legend {
  font-family: "Microsoft YaHei";
  font-size: 36px;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: 0;
  line-height: 40px;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-bottom-colors: none;
  border-image: none;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

/* line 69, ../sass/master.scss */
.footer-login {
  font-size: 12px !important;
  font-family: monospace;
  white-space: pre !important;
  color: #999;
  text-shadow: 0px 1px 1px #999;
  margin-top: 15px;
  padding-left: 30%;
}

/* line 75, ../sass/master.scss */
.navbar-master {
  background: #45AEEA;
  min-height: 40px;
  border-color: #1990D5;
}
/* line 80, ../sass/master.scss */
.navbar-master li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 85, ../sass/master.scss */
.navbar-master li > a:hover {
  background: #1684C2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}
/* line 90, ../sass/master.scss */
.navbar-master li + li + li a {
  margin-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 96, ../sass/master.scss */
.navbar-brand-master {
  height: 40px;
  padding: 10px 50px 10px 50px;
  color: #fff;
  font-weight: 900px;
  text-shadow: 0px 1px 1px #999;
}

/* line 104, ../sass/master.scss */
.footer-master {
  min-height: 20px;
  line-height: 20px;
  background: #F7F7F7;
  border-top: 1px solid #CCC;
  margin-top: 1px;
  text-align: center;
}
/* line 112, ../sass/master.scss */
.footer-master .footer-bar {
  text-align: center;
  font-size: 9pt;
  float: left;
}

/* line 119, ../sass/master.scss */
.south-separator {
  border-left: 1px solid #CCC;
  border-right: 1px solid #FFF;
  margin-left: 3px;
  margin-right: 3px;
}

/* line 126, ../sass/master.scss */
#tabArea {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
  height: 35px;
  line-height: 35px;
  position: relative;
  background: #f5f5f5;
}
/* line 135, ../sass/master.scss */
#tabArea .timetip {
  float: left;
  height: 100%;
  text-align: center;
  width: 165px;
  font-size: 9pt;
  line-height: 35px;
  height: 35px;
  border-right: 1px solid #CCC;
  color: #222;
  list-style: outside none none;
}
/* line 148, ../sass/master.scss */
#tabArea #menu-ctrl-left {
  float: left;
  width: 35px;
  border-right: 1px solid #CCC;
}
/* line 153, ../sass/master.scss */
#tabArea #menu-ctrl-left i {
  top: 0;
  left: 9px;
  color: #ccc;
}
/* line 159, ../sass/master.scss */
#tabArea #menu-ctrl-right {
  float: right;
  width: 35px;
  border-left: 1px solid #CCC;
}
/* line 164, ../sass/master.scss */
#tabArea #menu-ctrl-right i {
  top: 0;
  left: 9px;
  color: #ccc;
}
/* line 172, ../sass/master.scss */
#tabArea #tabs-container > li {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 29px;
  padding: 0 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-right: 1px #dcdcdc solid;
  border-left: 1px #dcdcdc solid;
  border-top: 1px #dcdcdc solid;
  background: url(../images/bg_repeat.png) repeat-x 0 0;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 9pt;
}
/* line 189, ../sass/master.scss */
#tabArea #tabs-container li.tab-active {
  background: #fff;
}
/* line 193, ../sass/master.scss */
#tabArea #tabs-container a.tab-close {
  margin-left: 5px;
  color: #ccc;
  font-size: 8pt;
}
/* line 197, ../sass/master.scss */
#tabArea #tabs-container a.tab-close:hover {
  color: #FF2E00;
}

/* line 206, ../sass/master.scss */
#mainArea > div {
  float: left;
  height: 100%;
}
/* line 208, ../sass/master.scss */
#mainArea .navigation {
  width: 200px;
  background: #F5F5F5;
  border-right: 1px solid #CCC;
  margin-right: 0px;
  font-size: 9pt;
}
/* line 215, ../sass/master.scss */
#mainArea .navigation .navigation-menu-item {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
  border-bottom: 1px solid #CCC;
  position: relative;
  padding-left: 30px;
}
/* line 225, ../sass/master.scss */
#mainArea .navigation .navigation-menu-item .menu-item-ico {
  display: block;
  height: 16px;
  width: 16px;
  background: url(../images/menu_arrows.png) repeat-x;
  background-position-x: 500%;
  right: 10px;
  top: 9px;
  position: absolute;
}
/* line 237, ../sass/master.scss */
#mainArea #menu-ctrl-bar {
  width: 9px;
  background: #F4F4F4 url("../images/menu_ctrl_left.png") no-repeat scroll center center;
  border-right: 1px solid #ccc;
}
/* line 242, ../sass/master.scss */
#mainArea #contentArea {
  border-left: 1px solid #cc;
  border-right: 1px solid #cc;
}

/* line 248, ../sass/master.scss */
#loading {
  color: #666;
  font-size: 12pt;
  position: absolute;
  z-index: 3001;
  left: 42%;
  top: 40%;
  border: 2px solid #4A5B79;
  width: auto;
  padding: 8px 10px 7px 10px;
  background: #fff;
  display: none;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

/* line 265, ../sass/master.scss */
#loading-bg {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
}

/* line 276, ../sass/master.scss */
.navigation-title {
  height: 27px;
  line-height: 27px;
  text-indent: 7px;
  background: transparent url("../images/column-header-bg.png") repeat-x scroll 0% 0%;
  border-bottom: 1px solid #CCC;
  font-size: 9pt;
}

/* line 285, ../sass/master.scss */
.parting-line {
  border-bottom: solid 1px #ccc;
  padding-bottom: 5px;
  margin: 10px 0;
}
/* line 290, ../sass/master.scss */
.parting-line span {
  border-bottom: solid 3px #A6EC77;
  font-size: 14px;
  font-weight: bold;
}

/* line 297, ../sass/master.scss */
.tool-bar {
  border: solid 1px #ccc;
  height: 45px;
  background: #F7F7F7;
  margin-top: 1px;
  padding-left: 5px;
}
/* line 304, ../sass/master.scss */
.tool-bar .tools_separator {
  float: left;
  display: block;
  height: 35px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
}
/* line 316, ../sass/master.scss */
.tool-bar a.tool-bar-btn {
  float: left;
  cursor: pointer;
  display: block;
  margin: 2px 3px 0;
  padding: 0 0 0 10px;
  height: 39px;
  overflow: hidden;
}
/* line 325, ../sass/master.scss */
.tool-bar a.tool-bar-btn:hover {
  background: url(../images/tools_btn_bg.gif) no-repeat 0 0;
}
/* line 328, ../sass/master.scss */
.tool-bar a.tool-bar-btn:hover span {
  background: url(../images/tools_btn_bg.gif) no-repeat right -39px;
}
/* line 332, ../sass/master.scss */
.tool-bar a.tool-bar-btn span {
  display: block;
  padding: 0 10px 0 0;
  background: transparent;
}
/* line 337, ../sass/master.scss */
.tool-bar a.tool-bar-btn span b {
  font-size: 9pt;
  font-weight: normal;
  display: block;
  padding: 22px 0px 5px;
  line-height: 15px;
}

/* line 348, ../sass/master.scss */
.search-area {
  border: solid 1px #ccc;
  margin-top: 1px;
  padding: 5px 5px 0 5px;
}

/* line 354, ../sass/master.scss */
.search-form-row {
  margin-bottom: 5px;
}
/* line 357, ../sass/master.scss */
.search-form-row .form-group {
  margin-right: 10px;
}
/* line 360, ../sass/master.scss */
.search-form-row label {
  font-size: 9pt;
}
/* line 363, ../sass/master.scss */
.search-form-row input {
  font-size: 12px !important;
  height: 28px;
  padding: 2px 5px !important;
  width: 130px !important;
}
